.gallery-container{
    
    
    .gallery-wrap{
        text-align: center;
        display:grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 100px 300px;
        grid-gap: 10px;

        .gallery-item-wrap{
            
            .gallery-item{
                width: 100%;
                height: 100%;
                position:relative;
                
                .image{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: 50% 50%;
                        cursor: pointer;
                        transition: .5s ease-in-out;

                        &:hover{
                            transform: scale(1.3); 
                        }
                    }


                }

                .gallery-text{
                   opacity: 0;
                   position: absolute;
                   top: 50%;
                   left: 50%; 
                   transform: translate(-50%, -50%);
                    color: white;
                    font-size: 18px;
                    pointer-events: none;
                    z-index: 5;
                    transition: .6 ease-in-out;
                }
            
                &:hover .gallery-text{
                    opacity: 1;
                    animation: move-down .3s linear;
                    padding: 1rem;
                    width: 100%;
                }

                @keyframes move-down{
                    0%{
                        top: 10%;
                        opacity: .2;
                    }
                    50%{
                        top: 35%;
                        opacity: .6;
                    }
                    100%{
                        top: 50%;
                        opacity: 1;
                    }
                }
            
            }
        }


    }

}