.services-container{
    margin-bottom: 40px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .services-header{
        font-family: var(--font-family);
        font-size: 24px;
        text-align: center;
        padding: 40px 0;        
    }

    .collapsible-menu{
        width: 60%;
        // border: solid 1px green;
        max-width: 700px;

        @include breakpoint-down(medium){
            width: 80%;
        }
        @include breakpoint-down(small){
            width: 95%;
        }

        .sizing{
            margin: 0 16.7%;

            @include breakpoint-down(medium){
                margin: 0;
            }

            .list-group{
                border: solid 1px rgba(105, 105, 105, 0.1);

                .services-form{

                    .services-summary{
                        padding: 0 20px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: 60px;

                        .left-side{

                        }

                        .right-side{

                            // inactive before selecting service
                            .next-btn{
                                pointer-events: none;
                                display: flex;
                                justify-content: center;
                                padding: 10px;               
                                width: 80px;
                                color: #fff;
                                background-color: var(--accent-color3);
                                border-radius: 5px;
                                text-decoration: none; 
                                
                                .cart-icon{
                                    font-size: 19px;
                                    margin-left: 8px;
                                }
                            }
                            
                            // after selecting a service
                            .next-btn.active{
                                pointer-events: auto;
                                background-color: #0e0e0e;
                                

                                &:hover{
                                    color: #0e0e0e;
                                    background: #fff;
                                    border: solid 1px rgba(105, 105, 105, 0.1);
                                }
                            }
                        }
                    }

                    .services-section{
                        max-height: 550px;
                        height: 400px;
                        position: relative;
                        overflow: hidden;

                        .list-group-item{
                            height: 60px;            
                            
                            .section-title{
                                height: 80px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                border: solid 1px rgba(105, 105, 105, 0.1);

                                .section-title-text{

                                }

                                .section-icon{
                                    display: flex;
                                    align-items: center;
                                    margin-left: 10px;
                                }
                            }
                        }

                        .expand-btn{
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: 100px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: linear-gradient(rgba(251, 249, 249, 0.429) 0.42%, #878585);
                            color: black;
                            border: none;
                            z-index: 10;
                        }

                        .services-option{
                            padding: 15px 20px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            list-style-type: none;
                            color: #0e0e0e;
                            border: solid 1px rgba(105, 105, 105, 0.1);

                            .services-option-left{
                                font-size: 14px;
                                .services-option-title{
                                    padding: 5px 0;
                                }
                            }

                            .services-option-right{

                                .service-option-select{
                                    padding: 4px 16px;                     
                                    width: 80px;
                                    color: #fff;
                                    background-color: #0e0e0e;
                                    border-radius: 5px;
                                    text-decoration: none;                               
                                }
                            }
                        }
                    }

                    #cart-summary{
                        display: flex;
                        justify-content: space-around;    
                        align-items: center; 
                        padding: 20px;
                        box-shadow: 0px -3px 8px #d5d5d566;
                        position: fixed;
                        bottom: 0;
                        left: 0;
                        z-index: 100;
                        margin: 0;
                        width: 100%;
                        background-color: #f0f0f0;
                        
                        .cart-summary-left{

                        }

                        .cart-summary-right{
                            display: flex;
                            align-items: center;
                            .cart-summary-next-btn{
                                pointer-events: none;
                                display: flex;
                                justify-content: center;
                                padding: 10px;
                                width: 80px;
                                color: #fff;
                                background-color: var(--accent-color3);
                                border-radius: 5px;
                                text-decoration: none; 
                                
                                .cart-icon{
                                    font-size: 19px;
                                    margin-left: 8px;
                                }
                            }

                            .cart-summary-next-btn.active{
                                background-color: #0e0e0e;
                                pointer-events: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}