// **** NOTE TO CLEAR UNUSED FONTS ****
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nunito+Sans:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nunito+Sans:wght@300;400;700;900&family=Oswald:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

:root {
  --blue: #4FC5EB;
  --subtle-blue: #2986c9;
  --accent-color3: #cccccc;
  --dark: #1e1e1e;
  --font-family: "Nunito Sans", sans-serif;
  --alternate-font: "Oswald", sans-serif ;
  --third-font: "Merriweather", sans-serif;
  --scrollbar: #252323;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


// buttons
.button{
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: none;
  color: #000;
  padding: 6px 0;
  text-decoration: none;
  font-family: var(--alternate-font);
  background-color: rgba(255, 255, 255, 0.7);
  transition: all .4s ease-in-out;

  &:hover{
    background-color: rgba(255, 255, 255, 1);
  }

  a{
    font-family: var(--font-family);
    text-decoration: none;
    color: var(--dark);
  }
}

.app-container {
  background: transparent;
  font-family: var(--font-family);
  overflow-x: hidden;
  transition: 0.5s ease-in-out;
  @media screen and (min-width: 280px) and (max-width: 1080px) {
    padding: 0;
  }

  .dark{
    background: black;
  }

  .light{
    background: transparent;
  }
  
}




@media only screen and (min-device-width: 280px) and (max-device-width: 1080px) {
  .app-container::-webkit-scrollbar {
    display: none;
  }
}

.login-container,
.register-container{
  margin-bottom: 40px;
}

::-webkit-scrollbar {
  background-color: #111111;
  width: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
}

// Mixins
// sass map (500px, 800px, 1024px , 1400px ) 
$breakpoints-up: ("medium": "31.25em", "medLarge":"50em", "large": "64em", "xlarge": "87.5em");


// sass map ( 499px , 1023px , 1399px ) 
$breakpoints-down: ("small":"31.1875em","medium": "63.9397em","medLarge":"50em",  "large":"87.4375em");

@mixin breakpoint-up($size){
    @media(min-width: map-get($breakpoints-up, $size)){
        @content;
    }
}

@mixin breakpoint-down($size){
    @media(max-width: map-get($breakpoints-down, $size)){
        @content;
    }
}