// **** NOTE TO CLEAR UNUSED FONTS ****
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nunito+Sans:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nunito+Sans:wght@300;400;700;900&family=Oswald:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

:root {
  --pink: #ff3998;
  --blue: #4FC5EB;
  --subtle-blue: #11588C;
  --red: #ff3939;
  --light-green: #edfff6;
  --light-orange: #fff0e8;
  --accent-color1: #ffffff;
  --accent-color2: #555555;
  --accent-color3: #cccccc;
  --card-color: #000000;
  --background: #111111;
  --dark: #1e1e1e;
  --font-family: "Nunito Sans", sans-serif;
  --alternate-font: "Oswald", sans-serif ;
  --third-font: "Merriweather", sans-serif;
  --scrollbar: #cf9090;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

// pages
.gallery,
.register,
.book {
  height: 70vh;
  background: #2e2e2e;
}

// buttons
button{
  width: 180px;
  border-radius: 50px;
  border: none;
  padding: 10px 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.7);
  transition: all .4s ease-in-out;

  &:hover{
    background-color: rgba(255, 255, 255, 1);
  }

  a{
    font-family: var(--font-family);
    text-decoration: none;
    color: var(--dark);
  }
}

.app-container {
  background-color: var(--background);
  font-family: var(--font-family);
  overflow-x: hidden;
  transition: 0.5s ease-in-out;
  @media screen and (min-width: 280px) and (max-width: 1080px) {
    padding: 0;
  }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 1080px) {
  .app-container::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  background-color: #111111;
  width: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
}

// Mixins
// sass map (500px, 800px, 1024px , 1400px ) 
$breakpoints-up: ("medium": "31.25em", "medLarge":"50em", "large": "64em", "xlarge": "87.5em");


// sass map ( 499px , 1023px , 1399px ) 
$breakpoints-down: ("small":"31.1875em","medium": "63.9397em","medLarge":"50em",  "large":"87.4375em");

@mixin breakpoint-up($size){
    @media(min-width: map-get($breakpoints-up, $size)){
        @content;
    }
}

@mixin breakpoint-down($size){
    @media(max-width: map-get($breakpoints-down, $size)){
        @content;
    }
}