nav {
  position:relative;
  max-width: 1200px;
  margin: 0 auto;

  .nav-container{
    position: absolute;
    width: 100%;
    background: none;
    z-index: 1;
    overflow: hidden;

    .brand {
      display: flex;
      justify-content: center;
      margin: 40px 0 20px 0; // space above logo

      img {
        height:100px;
      }

    }
    
    .links-container{
      .links{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;
        li{ 
          padding: 10px 20px;
          a{
            font-family: "Kaushan Script";
            font-size: 14px;
            color: #fff;
            padding-bottom: 5px;
            text-decoration: none;
            &:hover{
              border-bottom: 1px solid rgb(193, 191, 191);
            }
          }

        }

        @include breakpoint-down(small){
          margin: 0 auto;
          width: 60%
        }

        // underline current page
        li.active{
          a{
            border-bottom: 2px solid #fff;
          }
        }
      }
    }
  }
}
