nav {
  position:relative;
  width: 100%;
  padding: 20px 0;
  color: white;
  
  .active{
    border-bottom: 1px solid red;
  }

  .brand {
    padding: 20px;
    display: flex;
    justify-content: center;
    img {
      height:100px;
    }

  }
  
  .links-container{
    .links{
      padding: 10px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style-type: none;
      li{ 
        padding: 10px 20px;
        a{
          font-family: "Kaushan Script";
          font-size: 14px;
          color: #fff;
          padding-bottom: 5px;
          text-decoration: none;
          &:hover{
            border-bottom: 1px solid rgb(193, 191, 191);
          }
        }

      }

      @include breakpoint-down(small){
        margin: 0 auto;
        width: 60%
      }

      // underline current page
      li.active{
        a{
          border-bottom: 2px solid #fff;
        }
      }
    }
  }

  .booking-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    
    .booking-btn{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 10px;
      border-radius: 5px;
      width: 160px;
      height: 30px;
      color: #0e0e0e;
      font-size: 14px;
      @include breakpoint-down(small){
        margin: 10px 5px;
      }      

    }
      
    .booking-btn.book{
      background:rgb(193, 191, 191);
    }
    .booking-btn.appointments{
      background: #fff;
      &:hover{
        opacity: 0.6;
      }
    }
    @include breakpoint-down(small){
      flex-direction: column;
    }

  }
}

nav.light{
  background: transparent;
}

nav.dark{
  background: #0e0e0e;
}
