.services-section{
    max-height: 400px;
    height: 100%;
    position: relative;
    overflow: hidden;

    .list-group-item{         
        
        .section-title{
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            border: solid 1px rgba(105, 105, 105, 0.1);

            .section-title-text{

            }

            .section-icon{
                display: flex;
                align-items: center;
                margin-left: 10px;
            }
        }
    }

    .expand-btn{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(rgba(251, 249, 249, 0.429) 0.42%, #878585);
        color: black;
        border: none;
        z-index: 10;
    }

    .services-option{
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        color: #0e0e0e;
        border: solid 1px rgba(105, 105, 105, 0.1);

        .services-option-left{
            font-size: 14px;
            .services-option-title{
                padding: 5px 0;
            }
        }

        .services-option-right{

            .service-option-select{
                padding: 4px 16px;                     
                width: 80px;
                color: #fff;
                background-color: #0e0e0e;
                border-radius: 5px;
                text-decoration: none;                               
            }
        }
    }
}